.main {
  height: 100%;
  width: 100%;
  padding-top: 150px;

  background: linear-gradient(90deg, $lg2 0%, $lg2 65%, $main-yellow 65%, $main-yellow 67%, $main-dark-green 67%, $main-dark-green 90%, $main-green 90%, $main-green 96%, $main-light-green 96%, $main-light-green 100%);
}
